openapi: 3.1.0
info:
  title: Apple Music Catalog Search API
  version: '1.0'
  description: 'REST API for the Apple Music catalog and the authenticated user''s library.

    Catalog endpoints (songs, albums, artists, music videos, playlists,

    stations, search, charts) require an Apple Developer JWT in the

    Authorization header. User-library endpoints additionally require a

    Music User Token in the Music-User-Token header.

    '
  contact:
    name: Apple Developer Documentation
    url: https://developer.apple.com/documentation/applemusicapi
servers:
- url: https://api.music.apple.com/v1
  description: Apple Music API v1
security:
- DeveloperToken: []
tags:
- name: Search
paths:
  /catalog/{storefront}/search:
    get:
      tags:
      - Search
      summary: Search the catalog
      parameters:
      - $ref: '#/components/parameters/Storefront'
      - name: term
        in: query
        required: true
        schema:
          type: string
      - name: types
        in: query
        description: Comma-separated list of resource types (e.g. songs,albums,artists,playlists)
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /catalog/{storefront}/search/hints:
    get:
      tags:
      - Search
      summary: Get search hints for the catalog
      parameters:
      - $ref: '#/components/parameters/Storefront'
      - name: term
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  parameters:
    Storefront:
      name: storefront
      in: path
      required: true
      description: Apple Music storefront identifier (e.g. us, gb, jp)
      schema:
        type: string
  securitySchemes:
    DeveloperToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Apple Music developer token (JWT) generated from a Music Key in the

        Apple Developer account.

        '
    MusicUserToken:
      type: apiKey
      in: header
      name: Music-User-Token
      description: 'Music User Token obtained via MusicKit on a signed-in device. Required

        for user-library endpoints.

        '
